{% extends 'layout/base.html' %}

{% block title %}Dettaglio Fornitore{% endblock %}

{% block content %}
<h2>{{ f.ragione_sociale }}</h2>

<p><strong>Partita IVA:</strong> {{ f.partita_iva }}</p>
<p><strong>Email:</strong> {{ f.email }}</p>
<p><strong>Telefono:</strong> {{ f.telefono }}</p>

<a href="{{ url_for('main.modifica_fornitore', id=f.id, origine=origine) }}" class="btn btn-warning">✏️ Modifica fornitore</a>
<br><br>

<h3>Prodotti associati</h3>


<ul>
    {% for p in f.prodotti %}
        <li>{{ p.nome }} ({{ p.codice }})</li>
    {% else %}
        <li>Nessun prodotto associato</li>
    {% endfor %}
</ul>
{% if origine == 'prodotti' %}
    <a href="{{ url_for('main.prodotti') }}">⬅ Torna ai prodotti</a>
{% else %}
    <a href="{{ url_for('main.dashboard_fornitore') }}" class="btn btn-success btn-sm rounded-pill px-3">
        ⬅ Torna alla Dashboard
    </a>
{% endif %}


{% endblock %}